@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Josefin+Sans:wght@300&family=Merriweather+Sans:wght@300&family=Playfair+Display&family=Poppins:ital,wght@0,100;1,100&family=Source+Sans+Pro:wght@200&display=swap');
* {
    font-family: 'Poppins', sans-serif;

  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
  box-sizing: border-box;
}
:root {
  /*colors*/
  --purple: #27222d;
  --silver: #c2c2c2;
  --chrome: #3367d6;
  /*grads*/
  --purplegradbottom: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--purple) 200%
  );
  --purplegradtop: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    var(--purple) 200%
  );
}
.relative {
  position: relative;
}
.blocked {
  display: block;
}
.inline-blocked {
  display: inline-block;
}
.inlined {
  display: inline;
}
.flexed {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.flex1 {
  flex: 1;
}
.flex3 {
  flex: 3;
}
.justify-start {
  justify-content: start;
}
.centered {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.hoverable-white:hover {
  color: var(--pencil);
}
.circle {
  border-radius: 50%;
}
.bold {
  font-weight: bold;
}
.width33 {
  width: 33.33%;
}
.width100 {
  width: 100%;
}
.padding4 {
  padding: 4px;
}
.padding8 {
  padding: 8px;
}
.margin0 {
  margin: 0;
}
.font10 {
  font-size: 10pt;
}
.hidden {
  display: none;
}
.color-blue {
  color: var(--blue);
}
img {
  object-fit: cover;
  max-height: 500px;
}
html,
body,
#app,
.app-holder {
  height: 100%;
  max-height: 100%;
  scroll-behavior: smooth;
  text-align: justify;
  margin: 0;
  font-family: tahoma;
}
a {
  text-decoration: none;
  color: var(--white);
}
a:hover {
  color: var(--silver);
}

.top-menu {
  background: var(--chrome);
  box-shadow: 0 0 12px var(--chrome);
}
.top-menu nav {
  position: absolute;
  right: 8px;
}
.menu-item-splitter {
  /*float: right;*/
  display: inline-block;
  margin: 0 4px;
  width: 2px;
  height: 18px;
  background: linear-gradient(
    #7777 0%,
    #9999 25%,
    #ccc 50%,
    #9999 75%,
    #7777 100%
  );
  border-radius: 50%;
  vertical-align: bottom;
}
.search-wrapper {
  position: absolute;
  right: 330px;
}
.search-input {
  background: var(--purplegradbottom);
  border: 1px solid var(--silver);
  border-radius: 16px;
  padding: 2px 4px 2px 20px;
  max-width: 180px;
  color: var(--white);
}
.search-wrapper:before {
  content: "🔍";
  position: absolute;
  left: 4px;
  top: 1px;
  color: var(--silver);
}

@media (max-width: 480px) {
  .top-menu nav {
    position: absolute;
    right: 0;
    top: 53px;
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--chrome);
    border-top: 1px solid var(--silver);
    box-shadow: 0 0 12px var(--chrome);
  }
  .menu-item {
    flex: 1;
    text-align: center;
  }
  .menu-item-splitter {
    height: 38px;
  }
  .search-wrapper {
    right: 8px;
  }
}
