body{
    background-image: url(image/Blue\ Galaxy\ Magnifying\ Glass\ Search\ Bar\ Instagram\ Post\ \(1800\ ×\ 1600\ px\).png);
}

@media screen and (max-width: 1280px)
{
    body{
        /* width: 100%; */
        /* height: 100%; */
        background-repeat: no-repeat;
        /* background-size:100vh; */
        background-image: url(image/Blue\ Galaxy\ Magnifying\ Glass\ Search\ Bar\ Instagram\ Post\ \(1800\ ×\ 1600\ px\).png);
        /* background-image: url(image/Blue\ Galaxy\ Magnifying\ Glass\ Search\ Bar\ Instagram\ Post.png); */

    }

}
